html,
body,
.App,
#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  height: auto;
  flex-direction: column;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5%; */
  width: 100%;
  height: auto;
}

/** Transition Group **/

.fadeTranslate-enter,
.fadeTranslate-enter-active {
  /* transform: translateX(0%); */
  /* transition: all 4s ease-in-out; */
  position: absolute;
  animation: slide-in 1.5s ease-out;
  -webkit-animation: slide-in 1.5s ease-out;
}

/* .fadeTranslate-exit {
  margin-top: 40%;
} */

.fadeTranslate-exit.ui.grid {
  margin-top: 0 !important;
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  /* transition: all 4s ease-in-out; */
  position: absolute;
  animation: slide-out 1.5s ease-out;
  -webkit-animation: slide-out 1.5s ease-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* .background-enter {
  transform: translate(100%);
}

.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}

.background-leave {
  transform: translate(0%);
}

.background-leave.background-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
} */
