html,
body,
.App,
#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  height: auto;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5%; */
  width: 100%;
  height: auto;
}
